body{
	font-family: comic sans ms;
}

footer{
	background-color: rgb(247, 65, 65);
	text-align: center;
	padding: 10px;
	font-size: 50;
	background-image: url("../img/pollosBanner3.png");
	background-position:	center;
	background-size:	cover;
    height:550px;
}

.cajadetexto{
	width: 500;
	height: 150;
}
    
main .foto{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius:10%;
    margin:center;
    border: 6px solid #ffffff;
}
main .foto img{
    width:100%;
    border-radius:10%
}

main .foto2{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius:10%;
    margin-top: center;
    border: 6px solid #ffffff;
}
main .foto2 img{
    width:100%;
    border-radius:10%
}

main .foto3{
    width: 200px;
    height: 200px;                                                   
    background-color: rgb(255, 255, 255);
    border-radius:10%;
    margin:center;
    border: 6px solid #ffffff;
}
main .foto3 img{
    width: 100%;
    border-radius: 10%;
}

main .foto4{
    width: 200px;
    height: 200px;                                                   
    background-color: rgb(255, 255, 255);
    border-radius:10%;
    margin:center;
    border: 6px solid #ffffff;
}
main .foto4 img{
    width: 100%;
    border-radius: 10%;
}

main .agnes{
    width: 200px;
    height: 200px;                                                   
    background-color: rgb(255, 255, 255);
    border-radius:10%;
    margin:center;
    border: 6px solid #ffffff;
}
main .agnes img{
    width: 100%;
    border-radius: 10%;
}

main .sargento{
    width: 200px;
    height: 200px;                                                   
    background-color: rgb(255, 255, 255);
    border-radius:10%;
    margin:center;
    border: 6px solid #ffffff;
}
main .sargento img{
    width: 100%;
    border-radius: 10%;
}

main .shino{
    width: 200px;
    height: 200px;                                                   
    background-color: rgb(255, 255, 255);
    border-radius:10%;
    margin:center;
    border: 6px solid #ffffff;
}
main .shino img{
    width: 100%;
    border-radius: 10%;
}

main .akane{
    width: 200px;
    height: 200px;                                                   
    background-color: rgb(255, 255, 255);
    border-radius:10%;
    margin:center;
    border: 6px solid #ffffff;
}
main .akane img{
    width: 100%;
    border-radius: 10%;
}

main .ami{
    width: 200px;
    height: 200px;                                                   
    background-color: rgb(255, 255, 255);
    border-radius:10%;
    margin:center;
    border: 6px solid #ffffff;
}
main .ami img{
    width: 100%;
    border-radius: 10%;
}

main .haru{
    width: 200px;
    height: 200px;                                                   
    background-color: rgb(255, 255, 255);
    border-radius:10%;
    margin:center;
    border: 6px solid #ffffff;
}
main .haru img{
    width: 100%;
    border-radius: 10%;
}

main .oi{
    width: 200px;
    height: 200px;                                                   
    background-color: rgb(255, 255, 255);
    border-radius:10%;
    margin:center;
    border: 6px solid #ffffff;
}
main .oi img{
    width: 100%;
    border-radius: 10%;
}

main .invisigal{
    width: 200px;
    height: 200px;                                                   
    background-color: rgb(255, 255, 255);
    border-radius:10%;
    margin:center;
    border: 6px solid #ffffff;
}
main .invisigal img{
    width: 100%;
    border-radius: 10%;
}

main .kim{
    width: 200px;
    height: 200px;                                                   
    background-color: rgb(255, 255, 255);
    border-radius:10%;
    margin:center;
    border: 6px solid #ffffff;
}
main .kim img{
    width: 100%;
    border-radius: 10%;
}

main .link{
    width: 200px;
    height: 200px;                                                   
    background-color: rgb(255, 255, 255);
    border-radius:10%;
    margin:center;
    border: 6px solid #ffffff;
}
main .link img{
    width: 100%;
    border-radius: 10%;
}

.TextoPolla{
	background: rgb(102, 102, 102);
	font-family:	"Courier New";
	width:	1000px;
	height:	100px;
	margin-top:	20px;
	margin-right:	20px;
	margin-bottom:	80px;
	margin-left:	20px;

	padding-top:	10px;
	padding-right:	100px;
	padding-bottom:	120px;
	padding-left:	20px;
    border: 6px;
    border-radius: 10px;
}

.MiniPolla{
	background: #bbbbbb;
	font-family:	"Courier New";
	width:	800px;
    height:	200px;
    border-radius: 3%;

    padding-top:	10px;
    padding-left:	20px;

    position: relative;
    bottom: 210px;
    left:   240px;

    border: 6px;
    border-radius: 10px;
}

.TextoPolla2{
	background: rgb(124, 56, 16);
	font-family:	"Courier New";
	width:	1000px;
	height:	100px;
	margin-top:	20px;
	margin-right:	20px;
	margin-bottom:	80px;
	margin-left:	20px;

	padding-top:	10px;
	padding-right:	100px;
	padding-bottom:	120px;
	padding-left:	20px;
    border: 6px;
    border-radius: 10px;
}

.MiniPolla2{
	background: rgb(219, 164, 53);
	font-family:	"Courier New";
	width:	800px;
    height:	200px;
    border-radius: 3%;

    padding-top:	10px;
    padding-left:	20px;

    position: relative;
    bottom: 210px;
    left:   240px;

    border: 6px;
    border-radius: 10px;
}

.textoPolla3{
	background: rgb(200, 104, 48);
	font-family:	"Courier New";
	width:	1000px;
	height:	100px;
	margin-top:	20px;
	margin-right:	20px;
	margin-bottom:	80px;
	margin-left:	20px;

	padding-top:	10px;
	padding-right:	100px;
	padding-bottom:	120px;
	padding-left:	20px;
    border: 6px;
    border-radius: 10px;
}

.miniPolla3{
	background: rgb(235, 209, 173);
	font-family:	"Courier New";
	width:	800px;
    height:	200px;
    border-radius: 3%;

    padding-top:	10px;
    padding-left:	20px;

    position: relative;
    bottom: 210px;
    left:   240px;

    border: 6px;
    border-radius: 10px;
}

.TextoPolla4{
	background: rgb(128, 68, 27);
	font-family:	"Courier New";
	width:	1000px;
	height:	100px;
	margin-top:	20px;
	margin-right:	20px;
	margin-bottom:	80px;
	margin-left:	20px;

	padding-top:	10px;
	padding-right:	100px;
	padding-bottom:	120px;
	padding-left:	20px;
    border: 6px;
    border-radius: 10px;
}

.MiniPolla4{
	background: rgba(255, 218, 155, 0.793);
	font-family:	"Courier New";
	width:	800px;
    height:	200px;
    border-radius: 3%;

    padding-top:	10px;
    padding-left:	20px;

    position: relative;
    bottom: 210px;
    left:   240px;

    border: 6px;
    border-radius: 10px;
}

.TextoPolla5{
	background: rgb(197, 123, 73);
	font-family:	"Courier New";
	width:	1000px;
	height:	100px;
	margin-top:	20px;
	margin-right:	20px;
	margin-bottom:	80px;
	margin-left:	20px;

	padding-top:	10px;
	padding-right:	100px;
	padding-bottom:	120px;
	padding-left:	20px;
    border: 6px;
    border-radius: 10px;
}

.MiniPolla5{
	background: rgba(255, 249, 239, 0.793);
	font-family:	"Courier New";
	width:	800px;
    height:	200px;
    border-radius: 3%;

    padding-top:	10px;
    padding-left:	20px;

    position: relative;
    bottom: 210px;
    left:   240px;

    border: 6px;
    border-radius: 10px;
}

.TextoPolla6{
	background: rgb(18, 64, 103);
	font-family:	"Courier New";
	width:	1000px;
	height:	100px;
	margin-top:	20px;
	margin-right:	20px;
	margin-bottom:	80px;
	margin-left:	20px;

	padding-top:	10px;
	padding-right:	100px;
	padding-bottom:	120px;
	padding-left:	20px;
    border: 6px;
    border-radius: 10px;
}

.MiniPolla6{
	background: rgba(195, 243, 255, 0.793);
	font-family:	"Courier New";
	width:	800px;
    height:	200px;
    border-radius: 3%;

    padding-top:	10px;
    padding-left:	20px;

    position: relative;
    bottom: 210px;
    left:   240px;

    border: 6px;
    border-radius: 10px;
}

.TextoPolla7{
	background: rgba(79, 65, 206, 0.733);
	font-family:	"Courier New";
	width:	1000px;
	height:	100px;
	margin-top:	20px;
	margin-right:	20px;
	margin-bottom:	80px;
	margin-left:	20px;

	padding-top:	10px;
	padding-right:	100px;
	padding-bottom:	120px;
	padding-left:	20px;
    border: 6px;
    border-radius: 10px;
}

.MiniPolla7{
	background: rgba(205, 255, 255, 0.626);
	font-family:	"Courier New";
	width:	800px;
    height:	200px;
    border-radius: 3%;

    padding-top:	10px;
    padding-left:	20px;

    position: relative;
    bottom: 210px;
    left:   240px;

    border: 6px;
    border-radius: 10px;
}

.TextoPolla8{
	background: rgb(170, 106, 38);
	font-family:	"Courier New";
	width:	1000px;
	height:	100px;
	margin-top:	20px;
	margin-right:	20px;
	margin-bottom:	80px;
	margin-left:	20px;

	padding-top:	10px;
	padding-right:	100px;
	padding-bottom:	120px;
	padding-left:	20px;
    border: 6px;
    border-radius: 10px;
}

.MiniPolla8{
	background: rgba(255, 218, 155, 0.793);
	font-family:	"Courier New";
	width:	800px;
    height:	200px;
    border-radius: 3%;

    padding-top:	10px;
    padding-left:	20px;

    position: relative;
    bottom: 210px;
    left:   240px;

    border: 6px;
    border-radius: 10px;
}

.TextoPolla9{
	background: rgb(216, 69, 216);
	font-family:	"Courier New";
	width:	1000px;
	height:	100px;
	margin-top:	20px;
	margin-right:	20px;
	margin-bottom:	80px;
	margin-left:	20px;

	padding-top:	10px;
	padding-right:	100px;
	padding-bottom:	120px;
	padding-left:	20px;
    border: 6px;
    border-radius: 10px;
}

.MiniPolla9{
	background: rgba(255, 178, 238, 0.793);
	font-family:	"Courier New";
	width:	800px;
    height:	200px;
    border-radius: 3%;

    padding-top:	10px;
    padding-left:	20px;

    position: relative;
    bottom: 210px;
    left:   240px;

    border: 6px;
    border-radius: 10px;
}

.TextoPolla10{
	background: rgb(185, 84, 50);
	font-family:	"Courier New";
	width:	1000px;
	height:	100px;
	margin-top:	20px;
	margin-right:	20px;
	margin-bottom:	80px;
	margin-left:	20px;

	padding-top:	10px;
	padding-right:	100px;
	padding-bottom:	120px;
	padding-left:	20px;
    border: 6px;
    border-radius: 10px;
}

.MiniPolla10{
	background: rgb(255, 229, 185);
	font-family:	"Courier New";
	width:	800px;
    height:	200px;
    border-radius: 3%;

    padding-top:	10px;
    padding-left:	20px;

    position: relative;
    bottom: 210px;
    left:   240px;

    border: 6px;
    border-radius: 10px;
}

.TextoPolla11{
	background: rgb(45, 159, 182);
	font-family:	"Courier New";
	width:	1000px;
	height:	100px;
	margin-top:	20px;
	margin-right:	20px;
	margin-bottom:	80px;
	margin-left:	20px;

	padding-top:	10px;
	padding-right:	100px;
	padding-bottom:	120px;
	padding-left:	20px;
    border: 6px;
    border-radius: 10px;
}

.MiniPolla11{
	background: rgba(141, 255, 141, 0.61);
	font-family:	"Courier New";
	width:	800px;
    height:	200px;
    border-radius: 3%;

    padding-top:	10px;
    padding-left:	20px;

    position: relative;
    bottom: 210px;
    left:   240px;

    border: 6px;
    border-radius: 10px;
}

.TextoPolla12{
	background: rgb(44, 58, 130);
	font-family:	"Courier New";
	width:	1000px;
	height:	100px;
	margin-top:	20px;
	margin-right:	20px;
	margin-bottom:	80px;
	margin-left:	20px;

	padding-top:	10px;
	padding-right:	100px;
	padding-bottom:	120px;
	padding-left:	20px;
    border: 6px;
    border-radius: 10px;
}

.MiniPolla12{
	background: rgba(140, 153, 255, 0.793);
	font-family:	"Courier New";
	width:	800px;
    height:	200px;
    border-radius: 3%;

    padding-top:	10px;
    padding-left:	20px;

    position: relative;
    bottom: 210px;
    left:   240px;

    border: 6px;
    border-radius: 10px;
}

.TextoPolla13{
	background: rgb(20, 33, 43);
	font-family:	"Courier New";
	width:	1000px;
	height:	100px;
	margin-top:	20px;
	margin-right:	20px;
	margin-bottom:	80px;
	margin-left:	20px;

	padding-top:	10px;
	padding-right:	100px;
	padding-bottom:	120px;
	padding-left:	20px;
    border: 6px;
    border-radius: 10px;
}

.MiniPolla13{
	background: rgba(253, 225, 124, 0.873);
	font-family:	"Courier New";
	width:	800px;
    height:	200px;
    border-radius: 3%;

    padding-top:	10px;
    padding-left:	20px;

    position: relative;
    bottom: 210px;
    left:   240px;

    border: 6px;
    border-radius: 10px;
}

.TextoPolla14{
	background: rgb(98, 51, 20);
	font-family:	"Courier New";
	width:	1000px;
	height:	100px;
	margin-top:	20px;
	margin-right:	20px;
	margin-bottom:	80px;
	margin-left:	20px;

	padding-top:	10px;
	padding-right:	100px;
	padding-bottom:	120px;
	padding-left:	20px;
    border: 6px;
    border-radius: 10px;
}

.MiniPolla14{
	background: rgba(255, 218, 155, 0.637);
	font-family:	"Courier New";
	width:	800px;
    height:	200px;
    border-radius: 3%;

    padding-top:	10px;
    padding-left:	20px;

    position: relative;
    bottom: 210px;
    left:   240px;

    border: 6px;
    border-radius: 10px;
}

main    .Menu{
	width: 250px;  
    height: 250px;                                               
    background-color: rgb(255, 255, 255);
    border-radius:10%;
    margin:center;
    border: 10px solid #ff0000;

    position: relative;
    bottom: 450px;
    left:   1200px;
}
main .Menu img{
    width:100%;
    border-radius:10%
}

main    .Menu2{
	width: 250px;  
    height: 250px;                                               
    background-color: rgb(255, 255, 255);
    border-radius:10%;
    margin:center;
    border: 10px solid #ff0000;

    position: relative;
    bottom: 720px;
    left:   1500px;
}
main .Menu2 img{
    width:100%;
    border-radius:10%
}

main    .Menu3{
	width: 250px;  
    height: 250px;                                               
    background-color: rgb(255, 255, 255);
    border-radius:10%;
    margin:center;
    border: 10px solid #69AAE4;

    position: relative;
    bottom: 450px;
    left:   1200px;
}
main .Menu3 img{
    width:100%;
    border-radius:10%
}

main    .Menu4{
	width: 250px;  
    height: 250px;                                               
    background-color: rgb(255, 255, 255);
    border-radius:10%;
    margin:center;
    border: 10px solid #69AAE4;

    position: relative;
    bottom: 720px;
    left:   1500px;
}
main .Menu4 img{
    width:100%;
    border-radius:10%
}
